<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Pizza </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/home" routerLinkActive="active">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active"  routerLink="/Menu" routerLinkActive="active">Our Menu</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="#" routerLink="/reviwes" routerLinkActive="active">UserReviews</a>
          </li>
          <li *ngIf="IsLoggedIn()" class="nav-item">
            <a class="nav-link active" href="#" >{{name}}</a>
          </li>
          <li *ngIf="!IsLoggedIn()" class="nav-item">
            <a class="nav-link active"  routerLink="/login" routerLinkActive="active">Login</a>
          </li>
          <li *ngIf="!IsLoggedIn()" class="nav-item">
            <a class="nav-link active" href="#" routerLink="/register" routerLinkActive="active">Register</a>
          </li>
          <li  class="nav-item">
            <a class="nav-link active" routerLink="/cart" routerLinkActive="active">Cart</a>
          </li>
          
          <li *ngIf="IsLoggedIn()" class="nav-item">
            <a class="nav-link active" (click)="onLogout()">Logout</a>
          </li>
          
         
        </ul>

      </div>
    </div>
  </nav> 
























